.App {
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-position: center;
  overflow: hidden;

}

.form,
.header,
.results {
  background-color: rgba(256, 256, 256, 0.4);
}

.form input,
.form button {
  font-size: 30px;
  border-radius: 10px;
  border: 2px solid black;
}

.form input {
  margin-top: 0;
  padding-top: 0;
}

.form button {
  margin-left: 5px;
  background-color: #bbb;
  transition: .3s;
}

.form button:hover {
  background-color: #eee;
}

.results h2 {
  font-size: 32px;
}

.results ul li {
  list-style: none;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 2px;
  font-weight: bold;
}

.results ul li span,
h2 span {
  text-decoration: underline;
}