.App {
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-position: center;
  overflow: hidden;

}

.form,
.header,
.results {
  background-color: rgba(256, 256, 256, 0.4);
}


.form input {
  margin-top: 0;
  padding-top: 0;
  font-size: 35px;

}

.results h2 {
  font-size: 32px;
}

.results ul li {
  list-style: none;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 2px;
  font-weight: bold;
}

.results ul li span,
h2 span {
  text-decoration: underline;
}